.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.title-container--title {
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(33, 52, 70);
  margin: 0;
  white-space: nowrap;
}

.title-container--favorite {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  height: 1.8rem;
  display: flex;
  align-items: center;
}

.title-container--favorite img {
  height: 100%;
  width: auto;
  border: none;
}
